*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: lavender;
}

.todoValue{
  display: flex;
  justify-content: center;
  margin: 2rem 0;
}

.todoInput{
  margin: 0 1rem 0 2rem;
  width: 60%;
}

.todoBtn{
  margin: 0 0.4rem 0 0 !important;
}

.todoList{
  margin: 0 13rem;
  /* background-color: aliceblue; */
}
.todo{
  display: flex;
  flex-direction: column;
}
.editBtn{
  margin: 0 4px !important;
}

.todo li{
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 0.3rem 0.5rem;
  margin: 0.3rem 0.3rem;
  border-radius: 5px;
}

@media only screen and (max-width:768px)  {
  .todoList{
    margin: 0 1rem;
  }
}